#header
{
    border: 5px solid black;
    padding: 0;
    margin: 0;
}

#greeting
{
    margin-top: 0;
    border-bottom: 5px solid black;
    text-align: center;
    background-color: yellow;
    padding: 5px;
}

#gifCategories
{
    background-color: teal;
    margin: 0;
    text-align: center;
}

#mainContent
{
    margin-top: 10px;
    display: block;
    position: relative;
}

.gifDiv
{
    margin: 40px;
}

body
{
    font-family: 'Monoton', cursive;
}

#gifAdd
{
    width: 100%;
    background-color: red;
    border: 5px solid black;
    position: relative;
    float: right;
    text-align: center;
    vertical-align: middle;
    font-family: 'Monoton', cursive;
}

#gifLoad
{
    width: 100%;
    height: auto;
    background-color: blue;
    border: 5px solid black;
    float: left;
    display: flex;
    flex-flow: row wrap;
    font-family: 'Monoton', cursive;
}

#categoryAdd
{
    width: 90%;
    margin-top: 20px;
    border: 5px solid black;
    font-size: 24px;
    text-align: center;
    font-family: 'Monoton', cursive;
}

#gifAmountReturn
{
    width: 90%;
    margin-top: 15px;
    font-family: 'Monoton', cursive;
}

#categoryAddButton
{
    width: auto;
    margin-top: 20px;
    background-color: green;
    border: 5px solid black;
    font-size: 24px;
    font-family: 'Monoton', cursive;
}

.gifButton
{
   display: inline-block;
   font-size: 24px;
   margin: 10px;
   border-radius: 50%;
   background-color: orange;
   font-family: 'Monoton', cursive;
   
}